# Data science job market data

In [1]:
import pandas as pd
import numpy as np

In [24]:
ds = 'data-scientist-job-market.csv'
ln = 'linkedin_data.csv'

In [ ]:
ds_df = pd.read_csv(ds,encoding = "ISO-8859-16")
ln_df = pd.read_csv(ln,encoding = "ISO-8859-16")

In [4]:
ds_df.head()

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"

In [5]:
# Check for non-null objects
ds_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6964 entries, 0 to 6963
Data columns (total 5 columns):
position       6953 non-null object
company        6953 non-null object
description    6953 non-null object
reviews        5326 non-null float64
location       6953 non-null object
dtypes: float64(1), object(4)
memory usage: 272.1+ KB

In [6]:
# Count of location data with zip code
ds_df[ds_df['location'].str.contains('0|1|2|3|4|5|6|7|8|9', na = False)].location.size

2143

In [7]:
# Drop NAN locations
ds_df.dropna(subset=["location"])

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"
5,Manager of Data Engineering,McKinsey & Company,Qualifications\nBachelorâs degree in Compute...,385.0,"Atlanta, GA 30318"
6,"Product Specialist - Periscope, New Ventures",McKinsey & Company,Qualifications\nBachelorâs degree\n5-7 years...,385.0,"Atlanta, GA 30318"
7,"Junior to Mid-level Engineer, Geologist or Env...",Wood,Overview / Responsibilities\nWood Environment ...,899.0,"Atlanta, GA"
8,Analyst - CIB Credit Research,SunTrust,Works closely with senior CIB professionals. P...,3343.0,"Atlanta, GA"
9,Senior Associate - Cognitive Data Scientist Na...,KPMG,Known for being a great place to work and buil...,4494.0,"Atlanta, GA 30338"
10,STATISTICAL FORECAST ANALYST,The Home Depot,:\n\nThe Statistical Forecast Analyst position...,38844.0,"Atlanta, GA"
11,Health Scientist III-CPTS,Chenega Corporation,"Chenega Professional &amp; Technical Services,...",390.0,"Atlanta, GA"
12,"Senior Associate, Data Scientist",KPMG,Innovate. Collaborate. Shine. Lighthouse â K...,4494.0,"Atlanta, GA 30338"
13,Assistant Scientist (AR) SOM,Emory University,"DESCRIPTION\nUnder minimal supervision, the As...",550.0,"Atlanta, GA"
14,Business Intelligence Data Science Analyst - S...,Newell Brands,Data Science Analystâ Business Intelligence\...,912.0,"Atlanta, GA"
15,Data Scientist,Cotiviti,Cotiviti is looking for an industry leading Da...,104.0,"Atlanta, GA"
16,Senior Structural Engineer-Transmission & Dist...,Burns & McDonnell,Description\nExecutes complex assignments requ...,152.0,"Atlanta, GA 30309"
17,Senior Mobile Developer (iOS/Android),Perficient,Overview\n\n\n\nAt Perficient youâll deliver...,44.0,"Atlanta, GA 30338"
18,Data Scientist,Relus Cloud,DATA SCIENTIST\n\nSUMMARY:\nAs an Amazon Web S...,NaN,"Atlanta, GA"
19,Data Scientist,Inspire Brands,This position is critical to understanding dri...,NaN,"Atlanta, GA"
20,Senior Electrical Engineer,Burns & McDonnell,Description\nBurns &amp; McDonnell is consider...,152.0,"Atlanta, GA 30309"
21,"Sr. Manager, Full Stack Development, KPMG Tax ...",KPMG,Known for being a great place to work and buil...,4494.0,"Atlanta, GA 30338"
22,Data Scientist,Norfolk Southern Corp,Join a growing Data Science and Advanced Analy...,722.0,"Atlanta, GA 30309"
23,DATA SCIENTIST - Supply Chain,The Home Depot,POSITION PURPOSE:\nA Data Scientist leverages ...,38844.0,"Atlanta, GA"
24,"Data Scientist, Keying & Linking",Equifax,Job Number: 16614\nPosition Title:\nExternal D...,447.0,"Atlanta, GA"
25,Data Scientist,AirSage,AirSage has been in the business of providing ...,NaN,"Atlanta, GA"
26,Data Scientist 1 â AP Forensics Team,The Home Depot,POSITION PURPOSE:\nThe Data Scientist I will p...,NaN,"Atlanta, GA"
27,Data Scientist - ICL,Georgia Tech Research Institute,"Full-time, permanent position available starti...",496.0,"Atlanta, GA 30318"
28,"Data Scientist, Online",The Home Depot,"Position Purpose:\nAt HomeDepot.com, our award...",38844.0,"Atlanta, GA"
29,Data Scientist - CONSULTANT Level - ORLANDO FL...,Capgemini,Overview:\nConsultant\n\nThe Data Science &amp...,5720.0,"Atlanta, GA"
...,...,...,...,...,...
6934,"Data Scientist, Cloud Revenue Acceleration, Go...",Google,The Google Cloud Platform team helps customers...,2474.0,"Sunnyvale, CA"
6935,Data & Applied Scientist,Microsoft,Speech team at Microsoft builds the most advan...,4618.0,"Sunnyvale, CA"
6936,Data Scientist - Alexa Language Technologies,Amazon.com,Job Description\nAmazon Lab126 is an inventive...,25907.0,"Sunnyvale, CA"
6937,Data Scientist / Data Analyst,Arosys,Are you a driven and inquisitive data scientis...,NaN,"Sunnyvale, CA"
6938,"Data Scientist, Customer Interests & Personali...",Lab126,Job Description\nTo truly become the worlds mo...,NaN,"Sunnyvale, CA"
6939,"Data Scientist, Customer Interests & Personali...",Amazon.com,Job Description\nTo truly become the worlds mo...,25907.0,"Sunnyvale, CA"
6940,Principal Data Scientist,Microsoft,Come join the Office Organization as we drive ...,4618.0,"Sunnyvale, CA"
6941,"Data Scientist, Engineering Support Analytics,...",Google,The Google Cloud Platform team helps customers...,2474.0,"Sunnyvale, CA"
6942,Applied Scientist,Amazon.com,Job Description\nAmazon Lab126 is an inventive...,25907.0,"Sunnyvale, CA"
6943,Staff Data Scientist,Walmart eCommerce,Position Description\nVoice Commerce Data Scie...,141.0,"Sunnyvale, CA"
6944,"Staff Data Scientist, Search/Online Grocery",Walmart eCommerce,Position Description\nIn this role you will\nA...,141.0,"Sunnyvale, CA"
6945,"Machine Learning Specialist, Trust and Safety",Google,Google's brand is only as strong as our users'...,2474.0,"Sunnyvale, CA"
6946,Research Scientist,Amazon.com,Job Description\nAlexa is the Amazon cloud ser...,25907.0,"Sunnyvale, CA"
6947,Applied Machine Learning Scientist,Amazon.com,Job Description\nExternal job description\nAma...,25907.0,"Sunnyvale, CA"
6948,Scientist,Microsoft,We are the Azure Big Data teams part of the C+...,4618.0,"Sunnyvale, CA"
6949,Systems software Performance Data Scientist Su...,Alibaba,We are the System Performance Team of Alibaba ...,15.0,"Sunnyvale, CA"
6950,Applied Scientist - Alexa Engine,Amazon.com,Job Description\nInterested in making the âA...,25907.0,"Sunnyvale, CA"
6951,Lead Data Scientist - NLP,TARGET,Description:\n\nAbout This Opportunity\nJoin t...,33275.0,"Sunnyvale, CA"
6952,Image processing Deep learning Research Scientist,Whiterabbit.ai,Whiterabbit.ai is a leading venture-backed sta...,NaN,"Sunnyvale, CA 94085"
6953,"Machine Learning Scientist, Amazon Alexa",Amazon.com,Job Description\nAmazon is looking for a passi...,25907.0,"Sunnyvale, CA"
6954,"Global Mobility Specialist, Immigration",Google,Google is known for our innovative technologie...,2474.0,"Sunnyvale, CA"
6955,Data Engineer,Amazon.com,"Job Description\nToday, people spend too much ...",25907.0,"Sunnyvale, CA"
6956,"Manager, Machine Learning",Amazon.com,Job Description\nAlexa is Amazon's new cloud-b...,25907.0,"Sunnyvale, CA"
6957,Lead Data Scientist - Haskell,TARGET,Description:\nTarget is looking for engineers ...,33275.0,"Sunnyvale, CA"
6958,Senior Data Scientist (GEC11902),Walmart,Position Description\nProficient in Java or Py...,148114.0,"Sunnyvale, CA 94086"
6959,Data Developer / Machine Learning Analyst,NetApp,Are you data-driven? We at NetApp believe in t...,574.0,"Sunnyvale, CA"
6960,Scientist I,"Pharmacyclics, an Abbvie Company",Pharmacyclics is committed to the development ...,26.0,"Sunnyvale, CA"
6961,Intern Scientist,Oath Inc,"Oath, a subsidiary of Verizon, is a values-led...",5.0,"Sunnyvale, CA"
6962,Senior Data & Applied Scientist,Microsoft,We are the Bing Core Relevance team responsibl...,4618.0,"Sunnyvale, CA"
6963,"Principal Data Scientist, Deep Learning",Comcast,Comcastâs Technology &amp; Product organizat...,11610.0,"Sunnyvale, CA 94089"

In [8]:
# Get rid of zip code, leaving only city and state
import re
for row_index,row in ds_df.iterrows():
    
    location_string = re.split(' |, ',str(row['location']))
    citystate = [s for s in location_string if s and not s.isdigit()]
    city = " ".join([s.title() for s in citystate if not s.isupper()])
    for s in citystate:
        if s.isupper():
            state = s.upper()
    ds_df.loc[row_index,'city'] = city
    ds_df.loc[row_index,'state'] = state
                            
ds_df.tail()

,position,company,description,reviews,location,city,state
6959,Data Developer / Machine Learning Analyst,NetApp,Are you data-driven? We at NetApp believe in t...,574.0,"Sunnyvale, CA",Sunnyvale,CA
6960,Scientist I,"Pharmacyclics, an Abbvie Company",Pharmacyclics is committed to the development ...,26.0,"Sunnyvale, CA",Sunnyvale,CA
6961,Intern Scientist,Oath Inc,"Oath, a subsidiary of Verizon, is a values-led...",5.0,"Sunnyvale, CA",Sunnyvale,CA
6962,Senior Data & Applied Scientist,Microsoft,We are the Bing Core Relevance team responsibl...,4618.0,"Sunnyvale, CA",Sunnyvale,CA
6963,"Principal Data Scientist, Deep Learning",Comcast,Comcastâs Technology &amp; Product organizat...,11610.0,"Sunnyvale, CA 94089",Sunnyvale,CA

In [9]:
ds_df.sort_values(by="state")

,position,company,description,reviews,location,city,state
6963,"Principal Data Scientist, Deep Learning",Comcast,Comcastâs Technology &amp; Product organizat...,11610.0,"Sunnyvale, CA 94089",Sunnyvale,CA
4825,"Senior Staff Scientist, R&D - San Diego",Instrumentation Laboratory,Overview\nInstrumentation Laboratory\nOur Pass...,47.0,"San Diego, CA",San Diego,CA
4824,Software Engineer,ASML,Introduction\nASML brings together the most cr...,176.0,"San Diego, CA",San Diego,CA
4823,Lead Analytic Scientist (AI/Machine Learning/J...,FICO,Job Description\nThe need for analytics is eve...,121.0,"San Diego, CA",San Diego,CA
4822,Project Administrator/Project Accountant,Kleinfelder,Details:\n\nKleinfelder has been connecting gr...,92.0,"San Diego, CA",San Diego,CA
4821,"Manager, Systems Design",Cymer,ASML is one of the worldâs leading manufactu...,52.0,"San Diego, CA",San Diego,CA
4820,Staff System Performance Engineer,Cymer,ASML is one of the worldâs leading manufactu...,52.0,"San Diego, CA",San Diego,CA
4826,"Architect (Deep / Machine Learning, Big Data)",Workbridge Associates,An international software company is hiring a ...,40.0,"San Diego, CA",San Diego,CA
4819,Software Engineer - Customer Solutions,Illumina,Position Summary:\n\nThe Customer Solutions or...,133.0,"San Diego, CA",San Diego,CA
4817,Senior Operations Research Analyst,Engility,About Engility:\n\nEngility delivers innovativ...,436.0,"San Diego, CA 92108",San Diego,CA
4816,Tools & Application Software Engineer,Brain Corporation,Brain Corp is a San Diego-based AI company tha...,NaN,"San Diego, CA",San Diego,CA
4815,Field Application Engineer,Memjet,Memjet has grown to become a global leader in ...,3.0,"San Diego, CA 92127",San Diego,CA
4814,PHP Web Developer,Platform Science,"About Us:\nFounded in 2015, Platform Science r...",NaN,"San Diego, CA",San Diego,CA
4813,Mechanical Engineer,ASML,Introduction\nASML brings together the most cr...,176.0,"San Diego, CA",San Diego,CA
4812,Machine Learning Architect,Workbridge Associates,The leading data-driven global marketing compa...,40.0,"San Diego, CA",San Diego,CA
4818,Principal Scientist âImmuno Biologics/Protei...,Takeda Pharmaceutical,"By clicking the âApplyâ button, I understa...",530.0,"San Diego, CA",San Diego,CA
4827,Implementation Engineer,SAS Institute,SAS believes in the whole employee experience....,128.0,"San Diego, CA 92121",San Diego,CA
4828,High Throughput Screening Scientific Leader,Vertex,Vertex Pharmaceuticals is seeking an Associate...,240.0,"San Diego, CA",San Diego,CA
4829,Software Engineer,Cymer,ASML is one of the worldâs leading manufactu...,52.0,"San Diego, CA",San Diego,CA
4844,Analytical Chemist,Dexcom,"About Dexcom:\nFounded in 1999, Dexcom, Inc. p...",78.0,"San Diego, CA",San Diego,CA
4843,GIS System Administrator,Kleinfelder,Details:\n\nKleinfelder has been connecting gr...,92.0,"San Diego, CA",San Diego,CA
4842,Software Manager,Cymer,Introduction\nASML is one of the worldâs lea...,52.0,"San Diego, CA",San Diego,CA
4841,"Principal Software Engineer, Big Data & ML Pla...",Intuit,Overview\nCome join the CG Data Labs as a Prin...,1033.0,"San Diego, CA 92129",San Diego,CA
4840,"Research Associate, Protein Engineering",Encodia,"Encodia is an emerging, fast-growing biotech c...",NaN,"San Diego, CA",San Diego,CA
4839,"Sr. Associate Scientist, CRISPR / Target Valid...",Celgene Corporation,Other Locations:US- CA- San Diego\n\nDescripti...,182.0,"San Diego, CA 92121",San Diego,CA
4838,High Throughput Screening Scientific Leader,Vertex Pharmaceuticals,Vertex Pharmaceuticals is seeking an Associate...,179.0,"San Diego, CA 92121",San Diego,CA
4837,Statistical/Sr. Statistical Programmer,NEUROCRINE BIOSCIENCES,Neurocrine Biosciences is a San Diego based bi...,8.0,"San Diego, CA",San Diego,CA
4836,"Sr. Associate Scientist, Cell & Molecular Biology",Celgene Corporation,Other Locations:US- CA- San Diego\n\nDescripti...,182.0,"San Diego, CA 92121",San Diego,CA
4835,Associate Web Developer,Illumina,"As a Web Developer at Illumina, you will be a ...",133.0,"San Diego, CA",San Diego,CA
4834,"Director, Bioinformatics",Pathway Genomics,The role will be responsible for supporting re...,6.0,"San Diego, CA 92121",San Diego,CA
...,...,...,...,...,...,...,...
5672,Proteomics Scientist,Fred Hutchinson Cancer Research Center,Overview\nCures Start Here. At Fred Hutchinson...,91.0,"Seattle, WA 98109",Seattle,WA
5671,"Azure Data Scientist, Manager",KPMG,Innovate. Collaborate. Shine. Lighthouse â K...,4493.0,"Seattle, WA 98104",Seattle,WA
5670,RESEARCH SCIENTIST FOR THE AIR POLLUTION HEALT...,University of Washington,"As a UW employee, you have a unique opportunit...",838.0,"Seattle, WA",Seattle,WA
5679,Associate Scientist,Arzeda,Arzeda is seeking a detail-oriented and dedica...,NaN,"Seattle, WA 98119",Seattle,WA
5691,Data Operations Manager I,Fred Hutchinson Cancer Research Center,Overview\nCures Start Here. At Fred Hutchinson...,91.0,"Seattle, WA 98109",Seattle,WA
5692,"Staff Scientist, Immunotherapy",Fred Hutchinson Cancer Research Center,Overview\nCures Start Here. At Fred Hutchinson...,91.0,"Seattle, WA 98109",Seattle,WA
5693,Computer Vision Research Scientist,Coupang,Coupang is one of the largest and fastest grow...,10.0,"Seattle, WA",Seattle,WA
5714,SDE - Amazon Video: Machine Learning and Distr...,Amazon.com,Job Description\nWant to watch a movie at the ...,25902.0,"Seattle, WA",Seattle,WA
5713,"Scientist I/ Scientist II, Analytical Development",Omeros Corporation,"Scientist I/Scientist II, Analytical Developme...",NaN,"Seattle, WA",Seattle,WA
5712,Principal Applied Scientist - Artificial Intel...,Zillow,About the team\nYou will join a team at Zillow...,70.0,"Seattle, WA 98101",Seattle,WA
5711,"Manager, Data Scientist (ML/NLP) -- Financial ...",KPMG,Innovate. Collaborate. Shine. Lighthouse â K...,4493.0,"Seattle, WA 98104",Seattle,WA
5710,Big Data Engineer: ML Platform,Amazon.com,Job Description\nAre you passionate about data...,25902.0,"Seattle, WA",Seattle,WA
5709,Director of Data Acquisition,Textio,We believe that the future of writing is knowi...,NaN,"Seattle, WA 98104",Seattle,WA
5708,"Scientist, T-Cell Product Characterization",Juno Therapeutics,Juno Therapeutics is a clinical-stage company ...,5.0,"Seattle, WA 98109",Seattle,WA
5707,Staff Scientist,Fred Hutchinson Cancer Research Center,Overview\nCures Start Here. At Fred Hutchinson...,91.0,"Seattle, WA 98109",Seattle,WA
5706,SDE AWS SageMaker Algorithms; Machine Learning...,Amazon.com,Job Description\nBe a part of the rapid growth...,25902.0,"Seattle, WA",Seattle,WA
5705,Clinical Scientist,Juno Therapeutics,We are looking for a Clinical Scientist to joi...,5.0,"Seattle, WA 98109",Seattle,WA
5704,Language Engineer,Amazon.com,Job Description\nAre you a linguist who loves ...,25902.0,"Seattle, WA",Seattle,WA
5703,"Software Engineer, Imaging",Google,Note: By applying to this position your applic...,2474.0,"Seattle, WA",Seattle,WA
5702,"Manager, Big Data",Amazon.com,Job Description\nAmazon Business Big Data team...,25902.0,"Seattle, WA",Seattle,WA
5701,CONTACT CENTER REPRESENTATIVE 1,University of Washington,Recruitment for CCR positions is ongoing. This...,838.0,"Seattle, WA",Seattle,WA
5700,"Data Engineer, Amazon Prime",Amazon.com,Job Description\nCutting edge big data technol...,25902.0,"Seattle, WA",Seattle,WA
5699,"Experience Management Scientist, Employee Expe...",Qualtrics,**************\nWhy Qualtrics?\n**************...,16.0,"Seattle, WA",Seattle,WA
5698,Senior Data Journalist,Textio,We believe that the future of writing is knowi...,NaN,"Seattle, WA 98104",Seattle,WA
5697,"senior data scientist, Retail Analytics & Stra...",Starbucks,Job Summary and Mission\nStarbucks senior data...,24869.0,"Seattle, WA 98109",Seattle,WA
5696,"Software Engineer, Machine Learning",Google,Note: By applying to this position your applic...,2474.0,"Seattle, WA",Seattle,WA
5695,"Developer Advocate, Serverless",Google,Note: By applying to this position your applic...,2474.0,"Seattle, WA",Seattle,WA
5694,Quantitative Risk Analyst,Russell Investments,Role Summary\nRussell seeks a Quantitative Ris...,57.0,"Seattle, WA",Seattle,WA
5716,POPULATION COORDINATOR (24-40 HOURS PER WEEK),University of Washington,Updated to reflect 7/1/18 new pay range.\n\n\n...,838.0,"Seattle, WA",Seattle,WA
5555,RESEARCH SCIENTIST/ENGINEER 1 (TEMPORARY),University of Washington,The University of Washington (UW) is proud to ...,838.0,"Seattle, WA",Seattle,WA

In [10]:
# Replace \n in descriptions by space
ds_df = ds_df.replace('\n',' ', regex=True)

In [11]:
# Parse descriptions into words
words = dict(pd.Series(re.split('\.\\s|\s|,\s|\t|\.\\s\s|\t', " ".join(ds_df['description'].astype(str)).lower())).value_counts()[0:1000])
# delete non-words
for word in ['&amp;','(e.g','(e.g.','(including','-','/','1','2','2+','3','3+','5','5+',':','']:
    del words[word]
words = {k:v for k,v in words.items() if ('' or '') not in k}

In [12]:
# List of common english words
with open('common_words.txt', 'r') as f:
    common_words = [line.strip() for line in f]

In [13]:
# Filter words dictionary by list of common words
words_filtered = {}
for key, value in words.items():
    if key not in common_words:
        words_filtered[key]=value
# Get first 500 most frequent words
words_filtered = pd.Series(words_filtered).sort_values(ascending=False)[:500]

In [14]:
len(words_filtered)

500

In [ ]:
# Create a new column that contains key words from description
for index, row in ds_df.iterrows():
    descr = row.description
    descr_words = set(re.split('\.\\s|\s|,\s|\t|\.\\s\s|\t', str(descr).lower()))
    key_words = [w for w in words_filtered.index[:100] for d in descr_words if w==d]
    ds_df.loc[index,'key_words']=", ".join(key_words)

In [16]:
# Filter out unwanted columns
ds_df = ds_df[["position","company","key_words","city","state"]]
ds_df.head()

,position,company,key_words,city,state
0,Development Director,ALS TDI,"data, research, development, skills, business,...",Atlanta,GA
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"data, research, development, skills, ability, ...",Atlanta,GA
2,Data Scientist,Xpert Staffing,"data, research, development, skills, business,...",Atlanta,GA
3,Data Analyst,Operation HOPE,"data, development, skills, years, management, ...",Atlanta,GA
4,Assistant Professor -TT - Signal Processing & ...,Emory University,"data, research, development, ability, learning...",Atlanta,GA

In [17]:
# Create dataframe of most common words
words_filtered_df = pd.DataFrame(words_filtered).reset_index().rename(columns = {'index':'word',0:'frequency'})

In [18]:
# Set up connection to SQLite
from sqlalchemy import create_engine

In [19]:
engine = create_engine('sqlite:///database.db')

In [22]:
ds_df.to_sql('data_science_companies', con=engine, index=False)

In [23]:
words_filtered_df.to_sql('job_common_words', con=engine, index=False)

# Occupation stats data

In [30]:
occu = 'occupation-filtered.csv'
oc_df = pd.read_csv(occu)

In [31]:
oc_df.head()

,ST,STATE,OCC_TITLE,TOT_EMP,JOBS_1000,LOC_Q,H_MEAN,A_MEAN,H_PCT10,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,AL,Alabama,Computer and Information Systems Managers,"3,120",1.624,0.63,59.51,"123,790",32.07,43.41,56.24,71.68,88.92,"66,710","90,290","116,990","149,100","184,950",NaN,NaN
1,AL,Alabama,Computer and Mathematical Occupations,"39,760",20.680,0.69,39.36,"81,870",20.26,27.23,37.30,49.05,61.78,"42,150","56,630","77,590","102,020","128,500",NaN,NaN
2,AK,Alaska,Computer and Information Systems Managers,360,1.132,0.44,52.91,"110,050",37.65,43.66,51.71,60.99,72.78,"78,320","90,810","107,550","126,870","151,390",NaN,NaN
3,AK,Alaska,Computer and Mathematical Occupations,"5,450",17.124,0.57,39.34,"81,820",20.62,27.33,36.92,47.13,59.75,"42,890","56,840","76,800","98,040","124,290",NaN,NaN
4,AZ,Arizona,Computer and Information Systems Managers,"7,000",2.589,1.01,64.87,"134,930",34.48,46.89,62.12,77.06,96.85,"71,720","97,540","129,220","160,280","201,450",NaN,NaN